@model ELegal.RecruitmentPortal.Web.Areas.Administration.ViewModels.Dashboard.IndexModel

@{
    ViewBag.Title = "Dashboard";
}


<h1>Dashboard</h1>

<!-- Stats Widgets -->
<div class="row-fluid row-merge border-top">
    
    <div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="@Url.Action("Index","RecruitmentCompany",new{area="Administration"})" class="widget-stats widget-stats-primary widget-stats-4">
				<span class="txt">Recruitment Companies</span>
				<span class="count">@Model.NumberOfRecuitmentCompanies.ToString()</span>
				<span class="glyphicons building"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
    <div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="@Url.Action("Index","User",new{area="Administration"})" class="widget-stats widget-stats-default widget-stats-4">
				<span class="txt">Users</span>
				<span class="count">2</span>
				<span class="glyphicons user"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	
	
</div>
<!-- // Stats Widgets END -->