@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ul class="breadcrumb">
  <li>You are here</li>
    <li> <a href="/" class="glyphicons dashboard"><i></i>Recruitment Portal</a></li>
    <li class="divider"><i class="icon-caret-right"></i></li>
@foreach (var node in Model) { 
    
    
    <li>
    @Html.DisplayFor(m => node)
    </li>
    if (node != Model.Last()) {
      <text> <li class="divider"><i class="icon-caret-right"></i></li></text>
    }
}
    </ul>