@model ELegal.RecruitmentPortal.Web.Areas.Recruitment.ViewModels.Dashboard.IndexModel


<h1>Dashboard</h1>

<!-- Stats Widgets -->
<div class="row-fluid row-merge border-top">
    
    <div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="@Url.Action("Index","RecruitmentCompany",new{area="Administration"})" class="widget-stats widget-stats-primary widget-stats-4">
				<span class="txt">Candidates</span>
				<span class="count">3</span>
				<span class="glyphicons group"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
    <div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="@Url.Action("Index","User",new{area="Administration"})" class="widget-stats widget-stats-default widget-stats-4">
				<span class="txt">Interviews</span>
				<span class="count">2</span>
				<span class="glyphicons calendar"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	
	
</div>
<!-- // Stats Widgets END -->


