@model ELegal.RecruitmentPortal.Web.ViewModels.Menu.MenuViewModel

<!-- Menu -->
				<ul>
				@foreach (var menu in Model.Menus)
				{
				    <li><a href="#" class="glyphicons @menu.Icon"><i></i><span>@menu.MenuName</span></a></li>
				}
										
				


    
					
				</ul>
				<div class="clearfix"></div>
				<!-- // Menu END -->