@model ELegal.RecruitmentPortal.Web.ViewModels.Menu.MenuViewModel



			<!-- Full Top Style -->
			<ul class="topnav pull-left">
				<li><a href="/" class="glyphicons dashboard"><i></i> Dashboard</a></li>
				<li class="mega-menu">
					<a href="#" class="glyphicons sheriffs_star"><i></i> Mega menu</a>
					<div class="mega-sub">
						<div class="mega-sub-inner">
							<div class="row-fluid"> 
								<div class="span2">
									<h4><i class="icon-book icon-fixed-width text-primary"></i> Learning</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Catch the Bullet</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Snoopydoo</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Fallen Angel</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Sui Maker</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Wave Master</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Golf Pro</a></li>
									</ul>
								</div>
								<div class="span2">
									<h4><i class="icon-wrench icon-fixed-width text-primary"></i> Utilities</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Gadget Finder</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Green Tree Express</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Green Tree Pro</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Wobbler 3.0</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Coolkid</a></li>
									</ul>
								</div>
								<div class="span3">
									<h4><i class="icon-android icon-fixed-width text-primary"></i> Education</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Learn Thai</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Math Genius</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Chemokid</a></li>
									</ul>
									<h4><i class="icon-apple icon-fixed-width text-primary"></i> Professionals</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Success 1.0</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Moneymaker</a></li>
									</ul>
								</div>
								<div class="span5">
									<div class="innerTB innerR">
										<div class="glyphicons glyphicon-xlarge glyphicon-top sheriffs_star glyphicon-primary">
											<i></i>
											<h4>Support for any type of content</h4>
											<p class="margin-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
												<br> <a href="">learn more</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /cbp-hrsub-inner -->
					</div><!-- /cbp-hrsub -->
				</li>
			</ul>

			<!-- // Full Top Style END -->
