@model ELegal.RecruitmentPortal.Web.ViewModels.Menu.MenuViewModel



			<!-- Full Top Style -->
			<ul class="topnav pull-left">
				<li><a href="/" class="glyphicons dashboard"><i></i> Dashboard</a></li>
				<li class="dropdown dd-1">
					<a href="" data-toggle="dropdown" class="glyphicons settings"><i></i>Components <span class="caret"></span></a>
					<ul class="dropdown-menu pull-left">
					
						<!-- Components Submenu Level 2 -->
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle">Forms</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a href="#">Form Wizards</a></li>
								<li class=""><a href="#">Form Elements</a></li>
								<li class=""><a href="#">Form Validator</a></li>
								<li class=""><a href="#">File Managers</a></li>
							</ul>
						</li>
						<!-- // Components Submenu Level 2 END -->
						
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle">Tables</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a href="#">Tables</a></li>
								<li class=""><a href="#">Responsive Tables</a></li>
								<li class=""><a href="#">Pricing tables</a></li>
							</ul>
						</li>
						
						<!-- Components Submenu Regular Items -->
						<li class=""><a href="#">UI Elements</a></li>
						<li class=""><a href="#">Icons</a></li>
						<li class=""><a href="#">Widgets</a></li>
						<li class=""><a href="#">Tabs</a></li>
						<li class=""><a href="#">Sliders</a></li>
						<li class=""><a href="#">Charts</a></li>
						<li class=""><a href="#">Grid system</a></li>
						<li class=""><a href="#">Notifications</span></a></li>
						<li class=""><a href="#">Modals</a></li>
						<li class=""><a href="#">Thumbnails</a></li>
						<li class=""><a href="#">Carousels</a></li>
						<li class=""><a href="#">Image Cropping</a></li>
						<li class=""><a href="#">Page Tour</a></li>
						
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle">APIs</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a href="#">Twitter API</a></li>
								<li class=""><a href="#">Google Analytics API</a></li>
							</ul>
						</li>
						
						<li class=""><a href="infinite_scroll.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Infinite Scroll</a></li>
						<!-- // Components Submenu Regular Items END -->
						
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle glyphicons circle_info"><i></i>4 Level Menu</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class="dropdown submenu">
									<a data-toggle="dropdown" href="#" class="dropdown-toggle">Menu item</a>
									<ul class="dropdown-menu submenu-show submenu-hide pull-right">
										<li><a href="#">Menu item</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="dropdown dd-1 active">
					<a href="" data-toggle="dropdown" class="glyphicons notes"><i></i>Pages <span class="caret"></span></a>
					<ul class="dropdown-menu pull-left">
						
						<li><a href="#" class="glyphicons history"><i></i>Timeline</a></li>
						<li><a href="#" class="glyphicons group"><i></i>Employees</a></li>
						
												
						<li><a href="#" class="glyphicons credit_card"><i></i>Invoice</a></li>
						<li><a href="#" class="glyphicons circle_question_mark"><i></i>FAQ</a></li>
						<li><a href="#" class="glyphicons search"><i></i>Search</a></li>
						<li><a href="#" class="glyphicons star"><i></i>Ratings</a></li>
						
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle glyphicons user"><i></i>Account</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Advanced profile</a></li>
								<li class=""><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">My Account</a></li>
								<li><a href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible"><i></i>Login</a></li>
								<li><a href="signup.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible"><i></i>Register</a></li>
							</ul>
						</li>
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle glyphicons google_maps"><i></i>Maps</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a class="no-ajaxify" href="maps_vector.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Vector maps</a></li>
								<li class=""><a class="no-ajaxify" href="maps_google.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Google maps</a></li>
							</ul>
						</li>
						<li class="dropdown submenu">
							<a data-toggle="dropdown" class="dropdown-toggle glyphicons shopping_cart"><i></i>Online Shop</a>
							<ul class="dropdown-menu submenu-show submenu-hide pull-right">
								<li class=""><a href="shop_products.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Products</a></li>
								<li class=""><a href="shop_edit_product.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Add product</a></li>
								<li class=""><a href="shop_orders_timeline.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Orders Timeline</a></li>
							</ul>
						</li>
						<li><a href="typography.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons font"><i></i>Typography</a></li>
						<li><a href="gallery.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons picture"><i></i>Photo Gallery</a></li>
						<li><a href="calendar.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons calendar"><i></i>Calendar</a></li>
						<li class="active"><a href="bookings.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons user_add"><i></i>Bookings</a></li>
						<li><a href="finances.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons coins"><i></i>Finances</a></li>
						<li><a href="error.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons warning_sign"><i></i>Error page</a></li>
						<li><a href="blank.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons magic"><i></i>Blank page</a></li>
					</ul>
				</li>
				<li class="mega-menu">
					<a href="#" class="glyphicons sheriffs_star"><i></i> Mega menu</a>
					<div class="mega-sub">
						<div class="mega-sub-inner">
							<div class="row-fluid"> 
								<div class="span2">
									<h4><i class="icon-book icon-fixed-width text-primary"></i> Learning</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Catch the Bullet</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Snoopydoo</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Fallen Angel</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Sui Maker</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Wave Master</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Golf Pro</a></li>
									</ul>
								</div>
								<div class="span2">
									<h4><i class="icon-wrench icon-fixed-width text-primary"></i> Utilities</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Gadget Finder</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Green Tree Express</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Green Tree Pro</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Wobbler 3.0</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Coolkid</a></li>
									</ul>
								</div>
								<div class="span3">
									<h4><i class="icon-android icon-fixed-width text-primary"></i> Education</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Learn Thai</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Math Genius</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Chemokid</a></li>
									</ul>
									<h4><i class="icon-apple icon-fixed-width text-primary"></i> Professionals</h4>
									<ul class="icons-ul">
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Success 1.0</a></li>
										<li><a href="#"><span class="icon-li icon-arrow-right"></span> Moneymaker</a></li>
									</ul>
								</div>
								<div class="span5">
									<div class="innerTB innerR">
										<div class="glyphicons glyphicon-xlarge glyphicon-top sheriffs_star glyphicon-primary">
											<i></i>
											<h4>Support for any type of content</h4>
											<p class="margin-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
												<br> <a href="">learn more</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /cbp-hrsub-inner -->
					</div><!-- /cbp-hrsub -->
				</li>
			</ul>

			<!-- // Full Top Style END -->
